bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea
.vs
.vscode
*.suo
*.user
*.userosscache
*.sln.docstates
*.prodution.json
*.env

/PasswordManager.Desktop/installer.iss
/PasswordManager.Desktop/obj/
/PasswordManager.Desktop/bin/
/PasswordManager.Desktop/installer-output